@import "./global.css";

header {
    background: var(--blue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 5rem;
    height: 6rem;
}

header a {
    color: var(--white);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.25rem;
    letter-spacing: 0.2rem;
    font-family: open-sans;
}

header ul {
    display: flex;
    gap: 7rem;
}

header ul,
header li {
    list-style: none;
}

header a.active {
    color: var(--gray-400);
}


header div:hover,
header li:hover {
    transform: scale(1.1);
    transition: .5s;
}

header h1{
    color: var(--white);
    font-size: 4rem;
    font-family: league spartan;
}