@import "../css/global.css";
@import "../css/header.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1{
  padding: 1rem;
  font-size: 6rem;
  margin-bottom: 2rem;
  margin-top: 3rem;
  font-family: league spartan;
  text-align: center;
}
p{
  font-size: 3.8rem;
  font-family: roboto;
}

main{
  display: flex;
  justify-content: center;
  gap: 4rem; 
  margin-top: 3rem;
}
.esquerda,
.direita{
  display: flex;
  flex-direction: column; 
  gap: 3rem;  
  align-items: center;
}
img {
  width: 10rem;  
  height: auto;  
}

